name: CI do Chat Service

on:
  push:
    branches: [ main ]
    paths:
      - 'chat-service/**'
      - '.github/workflows/chat-service-ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'chat-service/**'

jobs:
  build-e-test-chat-service:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21 and Maven Cache
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Test with Maven
        run: mvn -B verify
        working-directory: ./chat-service